.App {
  text-align: center;
}
.app_title {
  text-decoration: underline;
}

.App button {
  background: #fff;
  color: #333;
  border: 2px solid #ccc;
  border-radius: 2px;
  padding: 4px 8px;
  cursor: pointer;
}

.App button:hover {
  background: #333;
  color:#ccc; 
}
